config/*
logs/*
.setting
.project
.settings/
salesforce.schema
$tf/*
$tf1/*
.metadata/
.tfignore
RemoteSystemsTempFiles/*
*.sublime-project
*.sublime-settings
*.sublime-workspace
apex-scripts/*
salesforce.schema
build.properties
*.TMP