config/*
logs/*
.setting
.project
.settings/
salesforce.schema
$tf/*
$tf1/*
.metadata/
.tfignore
RemoteSystemsTempFiles/*
*.sublime-project
*.sublime-settings
*.sublime-workspace
apex-scripts/*
salesforce.schema
build.properties
*.TMP
src/classes/AWSKeys.cls
src/classes/AWSKeys.cls-meta.xml
src/classes/AWS_ExplorerCon.cls
src/classes/AWS_ExplorerCon.cls-meta.xml
src/classes/AWS_S3_ExampleController.cls
src/classes/AWS_S3_ExampleController.cls-meta.xml
src/classes/AWS_XMLDom.cls
src/classes/AWS_XMLDom.cls-meta.xml
src/classes/EC2Connection.cls
src/classes/EC2Connection.cls-meta.xml
src/classes/EC2ConsoleController.cls
src/classes/EC2ConsoleController.cls-meta.xml
src/classes/S3.cls
src/classes/S3.cls-meta.xml
src/classes/S3FormController.cls
src/classes/S3FormController.cls-meta.xml
src/objects/AWSKey__c.object
src/objects/AWS_S3_Object__c.object
src/pages/AWS_Explorer.page
src/pages/AWS_Explorer.page-meta.xml
src/pages/AWS_S3_Examples.page
src/pages/AWS_S3_Examples.page-meta.xml
src/pages/AboutAWS.page
src/pages/AboutAWS.page-meta.xml
src/pages/EC2Console.page
src/pages/EC2Console.page-meta.xml
src/pages/EC2Images.page
src/pages/EC2Images.page-meta.xml
src/pages/SFLHomeAS.page
src/pages/SFLHomeAS.page-meta.xml
src/pages/news3object.page
src/pages/news3object.page-meta.xml
src/pages/news3object2.page
src/pages/news3object2.page-meta.xml
src/pages/s3Preview.page
src/pages/s3Preview.page-meta.xml
src/staticresources/EC2Console_RebootImage.resource
src/staticresources/EC2Console_RebootImage.resource-meta.xml
src/staticresources/EC2Console_ShutdownImage.resource
src/staticresources/EC2Console_ShutdownImage.resource-meta.xml
src/staticresources/EC2Console_StartImage.resource
src/staticresources/EC2Console_StartImage.resource-meta.xml
src/staticresources/YUI.resource
src/staticresources/YUI.resource-meta.xml